
.lesson-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 10px;
  text-decoration: underline;
  background-color: #cccccc;
  margin: 0;
}

.sub-title1 {
  font-size: 20px;
  color: gray;
  margin-top: 0;
}

.one-a {
  font-size: 20px;
  font-weight: bold;
}

.click-button {
  font-size: 16px;
}

.one-b {
  font-size: 20px;
  font-weight: bold;
  width: 370px;
}

.name-button {
  font-size: 16px;
 }

 .hello-world {
  font-size: 20px;
 }

 .one-c {
  font-size: 20px;
  font-weight: bold;
  width: 550px;
}

.about-me {
  font-size: 20px;
}

.one-d {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.sub-title2 {
  font-size: 20px;
  color: gray;
  margin-top: 0;
  width: 350px;
}

.google-search {
  font-size: 20px;
 }

.challenge-text {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
  color: red;
  background-color: #cccccc;
  margin: 0;
}

.one-e {
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  margin-top: 0;
}

.one-done {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  background-color: #cccccc;
  text-align: center;
}